<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.kiki.View"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <!--GCM 관련 퍼미션 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uese-
        android:name="com.kiki.View.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="com.kiki.View.permission.C2D_MESSAGE" />

    <!-- 문자 관련 퍼미션-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 단말기 상태 관련 퍼미션-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 저장소 관련 퍼미션-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 네트워크 관련 퍼미션-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 재부팅시 관련 퍼미션-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 와이파이 관련 퍼미션-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--블루투스 퍼미션 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--<uses-feature-->
    <!--android:name="android.hardware.camera"-->
    <!--android:required="true"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">

        <activity android:name=".Activity.TestB.TestActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GCM 리비서 -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- for Gingerbread GSF backward compat -->`
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.kiki.View" />

            </intent-filter>
        </receiver>

        <!-- GCM REG 발급 서비스 -->
        <service
            android:name="com.kiki.android.Logic.Managers.push.SafetyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.kiki.android.Logic.Managers.push.SafetyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name="com.kiki.android.Logic.Managers.push.SafetyRegistrationService" >
        </service>
    </application>

</manifest>